# Structure gemini outputs with Pydantic

In [1]:
from google import genai
import pydantic

client = genai.Client()

response = client.models.generate_content(
    model = "gemini-2.5-flash",
    contents = "List a few asian soups recipes, a yummy description and list the ingredients",
)

print(response.text)

Oh, get ready for a delicious journey! Here are a few incredible Asian soup recipes, each with a mouth-watering description and key ingredients to get your taste buds tingling.

---

### 1. Tom Yum Goong (Spicy Thai Shrimp Soup)

**A Yummy Description:** Prepare for a flavor explosion! This vibrant Thai classic is an electrifying symphony of **spicy, sour, savory, and aromatic**. It's a clear, light broth bursting with the invigorating zing of lemongrass, galangal, and kaffir lime leaves, dancing perfectly with the plump sweetness of shrimp and earthy mushrooms. Every spoonful is a fragrant, invigorating hug that awakens all your senses!

**Key Ingredients:**
*   **Protein:** Fresh Shrimp (peeled and deveined)
*   **Aromatics:** Lemongrass (bruised), Galangal (sliced), Kaffir Lime Leaves (torn)
*   **Heat:** Thai Bird's Eye Chilies (crushed or sliced), Chili Paste in Soybean Oil (Nam Prik Pao - optional, for depth)
*   **Vegetables:** Straw Mushrooms or Oyster Mushrooms, Cherry Tomatoes (halved)
*   **Broth Base:** Chicken or Vegetable Broth
*   **Seasoning:** Fish Sauce, Fresh Lime Juice
*   **Garnish:** Fresh Cilantro (chopped)

---

### 2. Vietnamese Pho Bo (Beef Noodle Soup)

**A Yummy Description:** Immerse yourself in the soul-warming comfort of Vietnam's national dish! Pho Bo is a deeply aromatic and incredibly satisfying beef noodle soup featuring a crystal-clear broth slow-simmered for hours with fragrant spices like star anise, cinnamon, and cloves. Ladled over slippery rice noodles and delicate slices of rare beef, it's a bowl of pure, savory bliss, finished with a fresh burst of herbs, sprouts, and a squeeze of lime. It's the ultimate culinary hug!

**Key Ingredients:**
*   **Broth Base:** Beef Bones (marrow, knuckle, oxtail), Onions (charred), Ginger (charred)
*   **Spices (whole):** Star Anise, Cinnamon Stick, Black Cardamom Pods, Cloves, Coriander Seeds, Fennel Seeds
*   **Seasoning:** Fish Sauce, Rock Sugar (or granulated sugar), Salt
*   **Protein:** Thinly Sliced Raw Beef (sirloin, round, or brisket)
*   **Noodles:** Flat Rice Noodles (Banh Pho)
*   **Garnish (toppings bar!):** Fresh Bean Sprouts, Thai Basil, Mint Leaves, Sliced Jalapeños, Lime Wedges, Hoisin Sauce, Sriracha

---

### 3. Malaysian/Singaporean Laksa (Coconut Curry Noodle Soup)

**A Yummy Description:** Get ready for an explosion of rich, creamy, and spicy flavors! Laksa is an utterly addictive coconut curry noodle soup that truly defines comfort food. Its vibrant, complex broth, made from an intricate spice paste and rich coconut milk, envelops a generous tangle of thick rice noodles, tender chicken, succulent prawns, and chewy tofu puffs. Each spoonful is a velvety, aromatic dream with a delightful spicy kick – a true flavor masterpiece!

**Key Ingredients:**
*   **Laksa Paste (can be store-bought or homemade):** Shallots, Garlic, Red Chilies, Galangal, Lemongrass, Turmeric, Candlenuts (or macadamia nuts), Dried Shrimp (rehydrated), Belacan (shrimp paste - optional)
*   **Broth Base:** Coconut Milk (full-fat), Chicken or Fish Broth, Water
*   **Protein:** Chicken Thigh (sliced or shredded), Prawns, Fish Cakes (sliced), Tofu Puffs
*   **Noodles:** Thick Rice Vermicelli or Yellow Egg Noodles (or a mix)
*   **Seasoning:** Fish Sauce, Sugar
*   **Garnish:** Bean Sprouts, Laksa Leaves (Vietnamese mint/polygonum), Hard-boiled Egg (halved), Fried Shallots, Extra Chili Paste

---

### 4. Japanese Miso Soup

**A Yummy Description:** This isn't just a soup; it's a daily ritual of simple elegance and profound umami. Miso soup is a warm, comforting embrace, a subtle yet deeply satisfying broth made from dashi (Japanese stock) infused with earthy miso paste. With delicate cubes of silken tofu, rehydrated wakame seaweed, and a sprinkle of fresh green onions, it's a light, nourishing, and wonderfully savory experience that cleanses the palate and warms the soul.

**Key Ingredients:**
*   **Dashi (Japanese Stock):** Water, Kombu (dried kelp), Bonito Flakes (Katsuobushi - skip for vegetarian)
*   **Miso Paste:** White Miso (Shiro Miso), Red Miso (Aka Miso), or a blend
*   **Protein:** Silken Tofu (cubed)
*   **Seaweed:** Dried Wakame Seaweed (rehydrated)
*   **Garnish:** Green Onions (sliced)

---

Enjoy exploring these incredible flavors of Asia! Each one offers a unique and satisfying culinary experience.

In [ ]:
response = client.models.generate_content(
    model = "gemini-2.5-flash",
    contents = """List a few asian soups recipes, a yummy description and list the ingredients
        give me fields of
        recipe_name: str
        description: str
        ingredients: list[str]

        not in markdown
    """,
)

print(response.text)

recipe_name: Tom Yum Goong (Spicy Thai Shrimp Soup)
description: A vibrant and exhilarating Thai classic that perfectly balances hot, sour, and savory flavors. Each spoonful is a fragrant explosion of lemongrass, galangal, kaffir lime, and chili, beautifully complemented by plump, juicy shrimp and earthy mushrooms in a clear, zesty broth. It's a truly intoxicating and refreshing experience that awakens all your senses.
ingredients:
- Fresh shrimp
- Lemongrass stalks
- Galangal (or ginger)
- Kaffir lime leaves
- Lime juice
- Fish sauce
- Mushrooms (straw or oyster mushrooms)
- Fresh bird's eye chilies
- Cilantro
- Shallots
- Chicken or vegetable broth
- Chili paste (optional)

recipe_name: Japanese Shoyu Ramen
description: Dive into a comforting bowl of this iconic Japanese ramen, featuring springy noodles swimming in a rich, savory soy-sauce based chicken or pork broth. Each slurp is a harmonious blend of umami, topped with tender chashu pork, a perfectly jammy ajitama egg, crisp nori, and fresh scallions, creating an incredibly satisfying and deeply flavorful meal that feels like a warm hug.
ingredients:
- Ramen noodles
- Chicken or pork broth
- Soy sauce (shoyu)
- Mirin
- Sake
- Ginger
- Garlic
- Scallions
- Chashu pork (braised pork belly slices)
- Ajitama (marinated soft-boiled egg)
- Nori (seaweed sheets)
- Sesame oil

recipe_name: Vietnamese Pho Bo (Beef Noodle Soup)
description: A soul-warming Vietnamese masterpiece, Pho Bo is an aromatic symphony of tender rice noodles, thinly sliced beef, and a crystal-clear, deeply flavorful beef broth simmered for hours with charred ginger, onion, star anise, and cinnamon. Garnished with fresh herbs like basil, cilantro, and mint, plus crunchy bean sprouts and a squeeze of lime, it’s a perfectly balanced and utterly captivating culinary journey that nourishes both body and soul.
ingredients:
- Beef bones (marrow bones, oxtail)
- Beef chuck or brisket
- Thinly sliced raw beef (sirloin or eye of round)
- Rice noodles (banh pho)
- Yellow onion
- Ginger
- Star anise
- Cinnamon sticks
- Cardamom pods
- Cloves
- Fish sauce
- Sugar
- Salt
- Fresh herbs: cilantro, Thai basil, mint
- Bean sprouts
- Lime wedges
- Jalapeño or bird's eye chilies
- Hoisin sauce (for serving)
- Sriracha (for serving)

recipe_name: Malaysian / Singaporean Curry Laksa
description: Immerse yourself in the rich, complex flavors of Curry Laksa, a creamy and spicy coconut milk-based noodle soup that's a true Southeast Asian delight. Loaded with thick vermicelli and yellow noodles, tender chicken or shrimp, fish cakes, tofu puffs, and a vibrant curry paste, each spoonful is a luxurious blend of savory, spicy, and slightly sweet notes that will tantalize your taste buds and leave you craving more.
ingredients:
- Laksa paste (homemade or store-bought)
- Coconut milk
- Chicken or seafood broth
- Rice vermicelli noodles
- Yellow egg noodles
- Chicken breast or thighs
- Shrimp
- Fish cakes
- Tofu puffs (tau pok)
- Bean sprouts
- Lime wedges
- Fresh chilies (optional, for garnish)
- Cilantro or laksa leaves (Vietnamese coriander)
- Hard-boiled eggs (optional)

In [4]:
from pydantic import BaseModel
class Recipe(BaseModel):
    recipe_name: str
    description: str
    ingredients: list[str]

client=genai.Client()

response = client.models.generate_content(
    model = "gemini-2.5-flash",
    contents = "List a few asian soups recipes, a yummy description and list the ingredients",
    config = {"response_mime_type": "application/json", "response_schema": list[Recipe]}
)

print(response.text)

[{"recipe_name":"Tonkotsu Ramen","description":"A rich and creamy Japanese pork bone broth noodle soup, simmered for hours to extract maximum flavor, often topped with tender chashu pork, a soft-boiled egg, nori, and scallions. It's a deeply satisfying and comforting bowl.","ingredients":["pork bones","water","ginger","garlic","scallions","ramen noodles","chashu pork","soft-boiled eggs","nori","sesame oil","soy sauce","mirin"]}, {"recipe_name":"Tom Yum Goong","description":"A vibrant and aromatic Thai hot and sour shrimp soup, bursting with the flavors of lemongrass, galangal, kaffir lime leaves, chilies, and lime juice. It's a tantalizing balance of spicy, sour, and savory.","ingredients":["shrimp","lemongrass","galangal","kaffir lime leaves","mushrooms","fish sauce","lime juice","thai chilies","cilantro","chicken broth","evaporated milk or coconut milk (optional for creamy version)"]}, {"recipe_name":"Vietnamese Beef Pho","description":"A fragrant and savory Vietnamese noodle soup featuring a clear, deeply flavored beef broth, delicate rice noodles, thinly sliced beef, and an array of fresh herbs and sprouts. It's a harmonious blend of textures and spices.","ingredients":["beef bones","beef chuck","star anise","cinnamon sticks","cloves","cardamom pods","ginger","onions","fish sauce","sugar","rice noodles","thinly sliced raw beef","bean sprouts","thai basil","lime wedges","jalapeno slices","hoisin sauce","sriracha"]}]

In [6]:
recipes = response.parsed
recipes, len(recipes)

([Recipe(recipe_name='Tonkotsu Ramen', description="A rich and creamy Japanese pork bone broth noodle soup, simmered for hours to extract maximum flavor, often topped with tender chashu pork, a soft-boiled egg, nori, and scallions. It's a deeply satisfying and comforting bowl.", ingredients=['pork bones', 'water', 'ginger', 'garlic', 'scallions', 'ramen noodles', 'chashu pork', 'soft-boiled eggs', 'nori', 'sesame oil', 'soy sauce', 'mirin']),
  Recipe(recipe_name='Tom Yum Goong', description="A vibrant and aromatic Thai hot and sour shrimp soup, bursting with the flavors of lemongrass, galangal, kaffir lime leaves, chilies, and lime juice. It's a tantalizing balance of spicy, sour, and savory.", ingredients=['shrimp', 'lemongrass', 'galangal', 'kaffir lime leaves', 'mushrooms', 'fish sauce', 'lime juice', 'thai chilies', 'cilantro', 'chicken broth', 'evaporated milk or coconut milk (optional for creamy version)']),
  Recipe(recipe_name='Vietnamese Beef Pho', description="A fragrant and savory Vietnamese noodle soup featuring a clear, deeply flavored beef broth, delicate rice noodles, thinly sliced beef, and an array of fresh herbs and sprouts. It's a harmonious blend of textures and spices.", ingredients=['beef bones', 'beef chuck', 'star anise', 'cinnamon sticks', 'cloves', 'cardamom pods', 'ginger', 'onions', 'fish sauce', 'sugar', 'rice noodles', 'thinly sliced raw beef', 'bean sprouts', 'thai basil', 'lime wedges', 'jalapeno slices', 'hoisin sauce', 'sriracha'])],
 3)

In [7]:
recipes[0].description, recipes[0].recipe_name, recipes[0].ingredients

("A rich and creamy Japanese pork bone broth noodle soup, simmered for hours to extract maximum flavor, often topped with tender chashu pork, a soft-boiled egg, nori, and scallions. It's a deeply satisfying and comforting bowl.",
 'Tonkotsu Ramen',
 ['pork bones',
  'water',
  'ginger',
  'garlic',
  'scallions',
  'ramen noodles',
  'chashu pork',
  'soft-boiled eggs',
  'nori',
  'sesame oil',
  'soy sauce',
  'mirin'])

## Simulate house prices

In [8]:
from typing import Literal

class Home(BaseModel):
    price: int
    monthly_fee: int
    living_area: float
    number_rooms: int
    type: Literal["apartment", "house"]
    address: str



response = client.models.generate_content(
    model = "gemini-2.5-pro",
    contents = """List 50 apartments and houses in Sweden with their monthly_fee, their price, living area,
    number of rooms, address, type if it is apartment or house.
    All currencies are in SEK.""",
    config = {"response_mime_type": "application/json", "response_schema": list[Home]}
)


homes = response.parsed
homes

[Home(price=3450000, monthly_fee=2850, living_area=48.5, number_rooms=2, type='apartment', address='Hornsgatan 5A, 118 20 Stockholm'),
 Home(price=7800000, monthly_fee=4500, living_area=180.0, number_rooms=6, type='house', address='Villa Ljungvägen 12, 436 39 Askim'),
 Home(price=2950000, monthly_fee=3900, living_area=75.0, number_rooms=3, type='apartment', address='Drottningtorget 8B, 211 25 Malmö'),
 Home(price=5600000, monthly_fee=3800, living_area=155.5, number_rooms=5, type='house', address='Björkvägen 7, 756 53 Uppsala'),
 Home(price=1850000, monthly_fee=2100, living_area=38.0, number_rooms=1, type='apartment', address='Rydsvägen 250C, 584 31 Linköping'),
 Home(price=5200000, monthly_fee=5100, living_area=105.0, number_rooms=4, type='apartment', address='Sveavägen 98, 113 50 Stockholm'),
 Home(price=6300000, monthly_fee=4200, living_area=165.0, number_rooms=5, type='house', address='Änggårdsgatan 22, 413 19 Göteborg'),
 Home(price=2100000, monthly_fee=3150, living_area=62.5, number_rooms=2, type='apartment', address='Stora Nygatan 40, 211 37 Malmö'),
 Home(price=4100000, monthly_fee=3300, living_area=130.0, number_rooms=4, type='house', address='Studentvägen 19, 752 34 Uppsala'),
 Home(price=2400000, monthly_fee=3400, living_area=80.0, number_rooms=3, type='apartment', address='Klostergatan 15, 582 23 Linköping'),
 Home(price=9500000, monthly_fee=5500, living_area=210.0, number_rooms=7, type='house', address='Strandvägen 14, 182 60 Djursholm'),
 Home(price=2750000, monthly_fee=4100, living_area=78.0, number_rooms=3, type='apartment', address='Linnégatan 31, 413 04 Göteborg'),
 Home(price=3800000, monthly_fee=2900, living_area=115.0, number_rooms=4, type='house', address='Kalkstensvägen 5, 224 78 Lund'),
 Home(price=1995000, monthly_fee=2950, living_area=55.5, number_rooms=2, type='apartment', address='Rådhusesplanaden 10, 903 28 Umeå'),
 Home(price=2300000, monthly_fee=3700, living_area=85.0, number_rooms=3, type='apartment', address='Storgatan 35, 722 12 Västerås'),
 Home(price=8750000, monthly_fee=6200, living_area=120.0, number_rooms=5, type='apartment', address='Karlaplan 7, 115 20 Stockholm'),
 Home(price=4900000, monthly_fee=3950, living_area=145.0, number_rooms=5, type='house', address='Eklandagatan 55, 412 61 Göteborg'),
 Home(price=3150000, monthly_fee=4300, living_area=92.0, number_rooms=4, type='apartment', address='Ribersborgsvägen 3, 217 53 Malmö'),
 Home(price=6100000, monthly_fee=4100, living_area=170.0, number_rooms=6, type='house', address='Kungsängsgatan 18, 753 22 Uppsala'),
 Home(price=2050000, monthly_fee=3200, living_area=70.0, number_rooms=3, type='apartment', address='Drottninggatan 50, 602 32 Norrköping'),
 Home(price=4300000, monthly_fee=4800, living_area=95.5, number_rooms=4, type='apartment', address='Götgatan 100, 118 62 Stockholm'),
 Home(price=5500000, monthly_fee=3500, living_area=150.0, number_rooms=5, type='house', address='Örgrytevägen 1, 412 56 Göteborg'),
 Home(price=2500000, monthly_fee=3850, living_area=82.0, number_rooms=3, type='apartment', address='Amiralsgatan 12, 211 55 Malmö'),
 Home(price=3200000, monthly_fee=2800, living_area=125.0, number_rooms=4, type='house', address='Skolgatan 8, 903 25 Umeå'),
 Home(price=1900000, monthly_fee=2600, living_area=45.0, number_rooms=2, type='apartment', address='Järntorget 4, 703 61 Örebro'),
 Home(price=12500000, monthly_fee=7100, living_area=140.0, number_rooms=5, type='apartment', address='Östermalmsgatan 25, 114 26 Stockholm'),
 Home(price=8900000, monthly_fee=4800, living_area=195.0, number_rooms=7, type='house', address='Särövägen 220, 429 43 Särö'),
 Home(price=4200000, monthly_fee=4900, living_area=102.0, number_rooms=4, type='apartment', address='Västra Hamnen Allé 15, 211 17 Malmö'),
 Home(price=2800000, monthly_fee=3950, living_area=90.0, number_rooms=4, type='apartment', address='Sankt Larsgatan 3, 222 21 Lund'),
 Home(price=2150000, monthly_fee=3100, living_area=75.0, number_rooms=3, type='apartment', address='Trädgårdsgatan 11, 553 16 Jönköping'),
 Home(price=3950000, monthly_fee=3200, living_area=88.0, number_rooms=3, type='apartment', address='Fridhemsgatan 17, 112 40 Stockholm'),
 Home(price=6800000, monthly_fee=4300, living_area=175.0, number_rooms=6, type='house', address='Vasagatan 50, 411 37 Göteborg'),
 Home(price=1700000, monthly_fee=2500, living_area=35.0, number_rooms=1, type='apartment', address='Östra Storgatan 22, 291 32 Kristianstad'),
 Home(price=4800000, monthly_fee=3700, living_area=140.0, number_rooms=5, type='house', address='Luthagsesplanaden 33, 752 25 Uppsala'),
 Home(price=2600000, monthly_fee=3800, living_area=84.5, number_rooms=3, type='apartment', address='Kungsgatan 29, 602 33 Norrköping'),
 Home(price=7200000, monthly_fee=5800, living_area=110.0, number_rooms=4, type='apartment', address='Valhallavägen 104, 114 41 Stockholm'),
 Home(price=3500000, monthly_fee=2900, living_area=120.0, number_rooms=4, type='house', address='Mariehemsvägen 7, 906 54 Umeå'),
 Home(price=2990000, monthly_fee=4150, living_area=89.0, number_rooms=3, type='apartment', address='Södra Förstadsgatan 4, 211 43 Malmö'),
 Home(price=3400000, monthly_fee=3600, living_area=95.0, number_rooms=4, type='apartment', address='Vasavägen 45, 181 41 Lidingö'),
 Home(price=4500000, monthly_fee=3400, living_area=135.0, number_rooms=5, type='house', address='Stenhuggarevägen 9, 226 41 Lund'),
 Home(price=2250000, monthly_fee=3300, living_area=72.0, number_rooms=3, type='apartment', address='Drottninggatan 1, 702 10 Örebro'),
 Home(price=15000000, monthly_fee=8500, living_area=250.0, number_rooms=8, type='house', address='Saltsjöpromenaden 40, 133 36 Saltsjöbaden'),
 Home(price=3850000, monthly_fee=4500, living_area=98.0, number_rooms=4, type='apartment', address='Masthuggstorget 5, 413 27 Göteborg'),
 Home(price=1950000, monthly_fee=2800, living_area=58.0, number_rooms=2, type='apartment', address='Storgatan 60, 852 30 Sundsvall'),
 Home(price=3900000, monthly_fee=3100, living_area=128.0, number_rooms=5, type='house', address='Pilgatan 1, 723 48 Västerås'),
 Home(price=2850000, monthly_fee=4000, living_area=86.0, number_rooms=3, type='apartment', address='Tanneforsgatan 3, 582 24 Linköping'),
 Home(price=6400000, monthly_fee=5300, living_area=108.0, number_rooms=4, type='apartment', address='Sankt Eriksgatan 45, 112 34 Stockholm'),
 Home(price=4100000, monthly_fee=3250, living_area=133.0, number_rooms=5, type='house', address='Flogstavägen 65, 752 73 Uppsala'),
 Home(price=2450000, monthly_fee=3650, living_area=80.0, number_rooms=3, type='apartment', address='Kungsportsavenyn 10, 411 36 Göteborg'),
 Home(price=3300000, monthly_fee=4400, living_area=94.0, number_rooms=4, type='apartment', address='Regementsgatan 50, 217 48 Malmö')]

In [8]:
len(homes)

50

In [9]:
homes[0].price, homes[0].address

(3450000, 'Hornsgatan 5A, 118 20 Stockholm')

In [10]:
import pandas as pd

df = pd.DataFrame([home.__dict__ for home in homes])
df.head()

,price,monthly_fee,living_area,number_rooms,type,address
0,3450000,2850,48.5,2,apartment,"Hornsgatan 5A, 118 20 Stockholm"
1,7800000,4500,180.0,6,house,"Villa Ljungvägen 12, 436 39 Askim"
2,2950000,3900,75.0,3,apartment,"Drottningtorget 8B, 211 25 Malmö"
3,5600000,3800,155.5,5,house,"Björkvägen 7, 756 53 Uppsala"
4,1850000,2100,38.0,1,apartment,"Rydsvägen 250C, 584 31 Linköping"

In [14]:
df.query("price < 3_000_000")

,price,monthly_fee,living_area,number_rooms,type,address
2,2950000,3900,75.0,3,apartment,"Drottningtorget 8B, 211 25 Malmö"
4,1850000,2100,38.0,1,apartment,"Rydsvägen 250C, 584 31 Linköping"
7,2100000,3150,62.5,2,apartment,"Stora Nygatan 40, 211 37 Malmö"
9,2400000,3400,80.0,3,apartment,"Klostergatan 15, 582 23 Linköping"
11,2750000,4100,78.0,3,apartment,"Linnégatan 31, 413 04 Göteborg"
13,1995000,2950,55.5,2,apartment,"Rådhusesplanaden 10, 903 28 Umeå"
14,2300000,3700,85.0,3,apartment,"Storgatan 35, 722 12 Västerås"
19,2050000,3200,70.0,3,apartment,"Drottninggatan 50, 602 32 Norrköping"
22,2500000,3850,82.0,3,apartment,"Amiralsgatan 12, 211 55 Malmö"
24,1900000,2600,45.0,2,apartment,"Järntorget 4, 703 61 Örebro"
28,2800000,3950,90.0,4,apartment,"Sankt Larsgatan 3, 222 21 Lund"
29,2150000,3100,75.0,3,apartment,"Trädgårdsgatan 11, 553 16 Jönköping"
32,1700000,2500,35.0,1,apartment,"Östra Storgatan 22, 291 32 Kristianstad"
34,2600000,3800,84.5,3,apartment,"Kungsgatan 29, 602 33 Norrköping"
37,2990000,4150,89.0,3,apartment,"Södra Förstadsgatan 4, 211 43 Malmö"
40,2250000,3300,72.0,3,apartment,"Drottninggatan 1, 702 10 Örebro"
43,1950000,2800,58.0,2,apartment,"Storgatan 60, 852 30 Sundsvall"
45,2850000,4000,86.0,3,apartment,"Tanneforsgatan 3, 582 24 Linköping"
48,2450000,3650,80.0,3,apartment,"Kungsportsavenyn 10, 411 36 Göteborg"

In [15]:
cheap_houses = df.query("price < 5_000_000 and type == 'house'")
cheap_houses

,price,monthly_fee,living_area,number_rooms,type,address
8,4100000,3300,130.0,4,house,"Studentvägen 19, 752 34 Uppsala"
12,3800000,2900,115.0,4,house,"Kalkstensvägen 5, 224 78 Lund"
16,4900000,3950,145.0,5,house,"Eklandagatan 55, 412 61 Göteborg"
23,3200000,2800,125.0,4,house,"Skolgatan 8, 903 25 Umeå"
33,4800000,3700,140.0,5,house,"Luthagsesplanaden 33, 752 25 Uppsala"
36,3500000,2900,120.0,4,house,"Mariehemsvägen 7, 906 54 Umeå"
39,4500000,3400,135.0,5,house,"Stenhuggarevägen 9, 226 41 Lund"
44,3900000,3100,128.0,5,house,"Pilgatan 1, 723 48 Västerås"
47,4100000,3250,133.0,5,house,"Flogstavägen 65, 752 73 Uppsala"

In [16]:
cheap_houses.to_csv("cheap_houses.csv", index=False)